/* Общие настройки */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  font-weight: 400;

  @include respond(desktop) {
    max-width: $desktop;
    margin: 0 auto;
  }
}

img {
  //max-width: 100%;
  height: auto;
}
