/* stylelint-disable */

// Миксин для адаптивности
@mixin respond ($breakpoint) {

    @if ($breakpoint == mobile) {
        @media (min-width: $mobile) {@content}
    };

    @if ($breakpoint == tablet) {
        @media (min-width: $tablet) {@content}
    };

    @if ($breakpoint == desktop) {
        @media (min-width: $desktop) {@content}
    };
};

// Миксин для отступов.
@mixin content-paddings($top-padding: 0px, $bottom-padding: 0px) {
    @media (min-width: $mobile) {
        padding-top: $top-padding;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: $bottom-padding;
    }
    @media (min-width: $tablet) {
        padding-top: $top-padding;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: $bottom-padding;
    }
    @media (min-width: $desktop) {
        padding-top: $top-padding;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: $bottom-padding;
    }
}

// Миксин для карточек страницы catalog

@mixin product-margins {
  margin-right: 60px;

  @media (max-width: 1151px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: $desktop) and (min-width: 1152px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 0;
  }
}
// Миксин для ретиновой графики
@mixin retina-image($url, $gradient: none) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @if ($gradient == none) {
      background-image: url($url);
    } @else {
      background-image: url($url), linear-gradient($gradient);
    }
  }
}
