// Основные цвета
$black-color: #000000;
$black-color--light: #444444;
$black-color--lighter: #cdcdcd;
$white-color: #ffffff;
$grey-color: #f2f2f2;
$grey-color--light: #ededed;
$grey-color--ligther: #f1f1f1;
$grey-color--dark: #d3d3d3;
$grey-color--darker: #d9d9d9;
$main-color-theme: #67b737;

// Шрифт
$primary-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;


// $type-color: #f2f2f2;
// $border-color: #d9d9d9;
// $border-dark-color: #dddddd;
// $border-nav-color: #e6e6e6;
// $border-show-all: #ededed;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
