.academy {
  padding-top: 18px;
  padding-bottom: 21px;

  @include respond(tablet) {
    width: 22.88%;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $second-font;
    text-decoration: none;
    color: #444444;
    text-transform: none;
    margin: 0 auto;
  }

  &__icon {
    fill: $grey-color-icons;
    margin-right: -6px;
    margin-top: 1px;
  }
}
