.academy {
  display: flex;
  align-items: center;

  @include respond(tablet) {
    width: 33%;
  }

  &__image {
    display: block;
    width: 27px;
    height: 34px;
  }

  &__logo {
    display: block;
    text-decoration: none;
    margin-left: auto;
  }

  &__title {
    font-family: $second-font;
    color: $black-color;
    margin: 0;
  }

  &__text {
    text-decoration: none;
  }
}
