.academy {
  padding: 20px 0;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $second-font;
    text-decoration: none;
    color: #444444;
    text-transform: none;
    width: 280px;
    margin: 0 auto;
  }
}
