.advantage {
  margin-bottom: 22px;

  @include content-paddings();

  @include respond(tablet) {
    border-bottom: 1px solid $grey-color--darker;
    margin-bottom: 23px;
  }

  @include respond(desktop) {
    border: 0;
    max-width: 1300px;
    margin: 0 auto 13px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include respond(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      min-height: 604px;
      counter-reset: section;
      list-style-type: none;
    }

    @include respond(desktop) {
      min-height: auto;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 29px;

    @include respond(tablet) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 72px;
    }

    @include respond(desktop) {
      margin-bottom: 72px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-family: $second-font;
    margin: 0;
    color: $black-color--light;

    @include respond(tablet) {
      font-size: 16px;
      line-height: 24px;
      max-width: 250px;
    }
  }
}

.advantage__item {
  list-style: none;
  margin: 0;
  //padding: 5px 0 5px 80px;
  padding: 0;
  padding-left: 80px;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include respond(tablet) {
    flex-basis: 324px;
    padding: 113px 75px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 24px;
    margin-bottom: 51px;
  }

  @include respond(desktop) {
    flex-basis: 245px;
    padding: 0;
    min-height: 245px;
    padding-top: 52px;
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @include retina-image("../img/advantage-clock@2x.png");
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @include retina-image("../img/advantage-dining@2x.png");
    }
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @include retina-image("../img/advantage-leaf@2x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @include retina-image("../img/advantage-powder@2x.png");
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $main-color-theme;
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    width: 60px;
    left: 0;
    background-position: 50%;
    background-size: 80%;

    @include respond(tablet) {
      top: 0;
      height: 80px;
      width: 80px;
      background-size: 63%;
    }
  }

  &::after {
    @include respond(tablet) {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      display: block;
      top: 90px;
      font-size: 280px;
      right: 10px;
      transform: translate(-50%);
      color: $grey-color--ligther;
      z-index: -1;
      //width: 115px;
    }

    @include respond(desktop) {
      left: 70%;
    }
  }

  // &:not(:last-child) {
  //   margin-bottom: 20px;

  //   @include respond(tablet) {
  //     margin: 0;
  //   }
  // }
}
