.all-products {
  text-align: center;
  border-bottom: 1px solid $grey-color--darker;
  padding: 76px 20px 23px;

  @include respond(tablet) {
    border: 1px solid $grey-color--darker;
    width: 324px;
    min-height: 434px;
    margin: 137px 0 4px 0;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
    padding-top: 40px;
  }

  &__text {
    font-size: 12px;
    font-family: $second-font;
    margin: 0;
    margin-bottom: 20px;

    @include respond(tablet) {
      font-size: 16px;

      &--br {
        display: block;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    position: relative;
    margin-bottom: 8px;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 20px;

      &--br {
        display: block;
      }
    }

    &::before {
      content: "";
      width: 31px;
      height: 2px;
      background-color: #d9d9d9;
      top: -36px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      content: "";
      width: 31px;
      height: 2px;
      background-color: #d9d9d9;
      top: -36px;
      position: absolute;
      left: 50%;
      transform: translate(-50%) rotate(90deg);
    }
  }

  &__show {
    display: block;
    text-decoration: none;
    background-color: $grey-color;
    padding: 9px 0;
    color: $black-color;
    text-transform: uppercase;
  }
}
