.burger {
  width: 25px;
  height: 18px;
  margin-left: auto;
  padding: 0;
  border: 0;
  position: relative;
  background-color: transparent;

  @include respond(tablet) {
    display: none;
  }

  &__toggle {
    width: 25px;
    height: 2px;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      width: 25px;
      height: 2px;
      background-color: $black-color;
      display: block;
      transition: 0.6s;
      position: absolute;
      top: -8px;
      transform: translateY(8px) rotate(45deg);
    }

    &::before {
      content: "";
      width: 25px;
      height: 2px;
      background-color: $black-color;
      display: block;
      transition: 0.6s;
      position: absolute;
      top: 8px;
      transform: translateY(-8px) rotate(-45deg);
    }

    &--hide {
      background-color: $black-color;

      &::before {
        transform: translateY(0) rotate(0);
      }

      &::after {
        transform: translateY(0) rotate(0);
      }
    }
  }
}
