.cat-information {
  margin: 0;
  border: 0;
  padding: 0 19px;
  text-transform: uppercase;
  border-bottom: 1px solid $grey-color--light;
  padding-bottom: 9px;

  // блоки
  &__name,
  &__weight,
  &__age {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  // Инпуты
  &__input {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $black-color--light;
    border: 1px solid $black-color--lighter;
    outline: none;
    flex-grow: 1;
    font-family: $primary-font;
    padding-top: 11px;
    padding-bottom: 14px;
    padding-left: 15px;
    transition: 0.7s;

    &:valid {
      border: 1px solid $main-color-theme;
    }

    &:invalid {
      border: 1px solid $red-color;
    }
  }

  // Лабел
  &__label {
    margin-right: 5.6%;
  }
}
