.compare {
  &__controls {
    display: flex;
    justify-content: center;
  }

  &__scale {
    width: 85px;
    background-color: $white-color;
    border-radius: 10px;
    display: inline-block;
    margin: 0 20px;
    height: 15px;
    border: 1px solid $grey-color--darker;
    padding-top: 4px;
    padding-left: 5px;

    @include respond(tablet) {
      width: 500px;
      background-color: $grey-color--darker;
      padding: 0;
      height: 5px;
      align-self: center;
      position: relative;
    }
  }

  &__before {
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__after {
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__bar {
    width: 45%;
    height: 6px;
    background-color: $main-color-theme;
    border-radius: 10px;
    border: 0;

    @include respond(tablet) {
      display: none;
    }
  }

  &__toggle {
    display: none;

    @include respond(tablet) {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $white-color;
      border: 1px solid $grey-color--dark;
      position: absolute;
      top: -12px;
      left: 20%;

      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $main-color-theme;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
