.compare {
  display: flex;
  width: 197px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

  @include respond(tablet) {
    width: 570px;
  }
}

.compare__toggle {
  position: absolute;
  display: block;
  width: 41%;
  transform: translateY(-50%);
  background-color: $main-color-theme;
  border: none;
  height: 6px;
  border-radius: 15px;
  top: 50%;
  left: 9px;

  @include respond(tablet) {
    left: 50.5%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.4);
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.4);
      border: 2px solid $main-color-theme;
    }

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      right: 5px;
      width: 35px;
      height: 6px;
      border-radius: 50px;
      background: $main-color-theme;
      transform: translateY(-50%);

      @include respond(tablet) {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 8px;
        height: 8px;
        margin: auto;
        border-radius: 50%;
        background-color: #67b737;
      }
    }
  }
}

.compare__button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: #111111;
  font-family: $primary-font;
  line-height: 20px;
  display: block;

  @include respond(tablet) {
    font-size: 20px;
    border-bottom: 1px dotted #d9d9d9;
    padding: 8px 0;
    padding-bottom: 6px;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.compare__scale {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $grey-color--darker;
  border-radius: 50px;
  background: $white-color;

  @include respond(tablet) {
    width: 425px;
    height: 6px;
    background: #d9d9d9;
  }
}
