.extra-products {

    &--padding {
        padding: 0 20px;
    }

    &__title {
        margin: 0;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__gift {
    }
}