.extra-order {
  padding: 0 20px;
  margin: 0;
  border: 0;
  padding-bottom: 18px;

  @include respond(tablet) {
    padding: 0 70px;
  }

  @include respond(desktop) {
    padding: 0 110px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 34px;

    @include respond(tablet) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 58px;
    }
  }

  &__item {
    position: relative;
    //margin-bottom: 17px;
    padding-left: 45px;
    min-height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    //padding-top: 2px;

    @include respond(tablet) {
      width: 44.9%;
      min-height: 40px;
      margin-right: auto;
      margin-bottom: 32px;
      padding-left: 58px;
    }

    @include respond(desktop) {
      width: 25%;
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include respond(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  //label
  &__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 20px;
    }

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      border: 1px solid $black-color--lighter;
      top: 0;
      left: 0;

      @include respond(tablet) {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";
      display: none;
      width: 10px;
      height: 19px;
      border-bottom: 1px solid #67b737;
      border-right: 1px solid #67b737;
      position: absolute;
      transform: rotate(43deg);
      left: 10px;
      top: 2px;

      @include respond(tablet) {
        transform: rotate(44deg);
        left: 14px;
        top: 6px;
      }
    }
  }

  //input
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .extra-order__label::after {
      display: block;
    }
  }
}
