.footer {
  padding: 0 20px;
  background-color: #f2f2f2;

  @include respond(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 47px;
    min-height: 150px;
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 20px;
  }

  &__link {
    margin: auto;
    display: block;
  }
}
