.footer {
  background-color: $grey-color;
  text-align: center;
  padding: 35px 20px 0;
  padding-top: 0;

  @include respond(tablet) {
    display: flex;
    padding: 0 30px;
    min-height: 150px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 0 25px;

    @include respond(tablet) {
      width: 33%;
      height: auto;
    }
  }

  &__link {
    display: block;
  }
}
