.footer {
  background-color: #f2f2f2;
}

.footer__container {
  @include content-paddings();

  @include respond(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 47px;
    min-height: 150px;
  }

  @include respond(desktop) {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 37px;
  }
}

.footer__logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 0 26px;

  @include respond(tablet) {
    width: 22.88%;
    padding: 31px 0 31px;
  }
}

.footer__link {
  margin: auto;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  @include respond(tablet) {
    margin: 0;
  }
}

.footer__image {
  @include respond(tablet) {
    width: 129px;
  }
}
