.form-header {
  margin-bottom: 39px;
  margin-top: 15px;

  @include respond(tablet) {
    padding: 0 30px;
    padding-bottom: 50px;
    margin-bottom: 67px;
  }

  @include respond(desktop) {
    padding: 0 110px;
    margin-bottom: 66px;
  }

  @include content-paddings();

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 24px;
    font-weight: 400;

    @include respond(tablet) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 55px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 81.7%;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 30px;
      width: 330px;
      margin-left: 40px;
    }

    @include respond(desktop) {
      margin-left: 0;
    }
  }
}
