.form-submit {
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include content-paddings(0, 32px);

  @include respond(tablet) {
    flex-direction: row;
    align-items: center;
    padding: 0 40px 72px;
  }

  @include respond(desktop) {
    padding-bottom: 82px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.form-submit__button {
  border: 0;
  display: block;
  margin: 0;
  background-color: $main-color-theme;
  color: $white-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $primary-font;
  padding: 11px 0;
  padding-bottom: 9px;
  margin-bottom: 21px;

  @include respond(tablet) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 64px;
    padding-right: 66px;
    font-size: 20px;
    margin-right: 60px;
  }

  @include respond(desktop) {
    width: 570px;
    margin-right: 81px;
  }
}

.form-submit__req-fields {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-family: $second-font;
  margin: 0;

  @include respond(tablet) {
    font-size: 16px;
  }
}
