.gift {
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 42px;
  background-position: center;
  background-color: $main-color-theme;

  @include retina-image("../img/gift-photo-mobile@2x.jpg");

  @include respond(tablet) {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    flex-direction: row;
    padding: 0;
    padding-right: 107px;
    padding-top: 8px;

    @include retina-image("../img/gift-photo-tablet@2x.jpg");
  }

  @include respond(desktop) {
    min-height: 289px;
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
    padding: 0;
    padding-bottom: 42px;
    justify-content: flex-end;
    position: relative;
  }

  // &__wrapper {
  //   min-height: 289px;
  //   background-image: url("../img/gift-photo-mobile@1x.jpg");
  //   background-size: cover;
  //   position: relative;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   align-items: center;
  //   padding-bottom: 42px;
  //   background-position: center;
  //   background-color: $main-color-theme;

  //   @include retina-image("../img/gift-photo-mobile@2x.jpg");

  //   @include respond(tablet) {
  //     min-height: 200px;
  //     background-image: url("../img/gift-photo-tablet@1x.jpg");
  //     flex-direction: row;
  //     padding: 0;
  //     padding-right: 107px;
  //     padding-top: 8px;

  //     @include retina-image("../img/gift-photo-tablet@2x.jpg");
  //   }

  //   @include respond(desktop) {
  //     min-height: 289px;
  //     width: 245px;
  //     background-image: url("../img/gift-photo-desktop@1x.jpg");
  //     flex-direction: column;
  //     padding: 0;
  //     padding-bottom: 42px;
  //     justify-content: flex-end;

  //     @include retina-image("../img/gift-photo-desktop@2x.jpg");
  //   }
  // }

  &__icon {
    fill: $white-color;
    position: absolute;
    top: 65px;

    @include respond(tablet) {
      left: 91px;
    }

    @include respond(desktop) {
      left: 96px;
    }
  }

  &__text {
    margin: 0;
    color: $white-color;
    font-family: $second-font;
    line-height: 20px;
    width: 58.57%;

    @include respond(tablet) {
      width: 178px;
      text-align: left;
    }

    @include respond(desktop) {
      width: 178px;
      text-align: center;
    }
  }
}
