.menu {
  margin: 0;
  padding: 0;
  transition: 0.6s;
  display: flex;
  flex-direction: column;

  // дополнительные классы для меню
  &--hide {
    display: none;

    @include respond(tablet) {
      display: flex;
    }
  }

  &--active {
    //border-bottom: 2px solid $white-color;

    @include respond(tablet) {
      //border-bottom: 2px solid $main-color-theme;
    }
  }

  @include respond(tablet) {
    flex-direction: row;
    margin-left: auto;
    width: 440px;
    justify-content: space-between;
  }

  @include respond(desktop) {
    width: 480px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 20px 0;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid $grey-color--darker;
    //border-top: 1px solid $grey-color--darker;
    color: $black-color;
    transition: 0.6s;

    @include respond(tablet) {
      border: 0;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      padding: 0;
    }

    @include respond(desktop) {
      font-size: 20px;
    }
  }
}
