.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    transform: .7s;

    &__item {
        list-style: none;
    }

    &--hide {
        display: none;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 20px 0;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid grey;
        color: #000000;
        font-family: "Oswald Med";
    }
}