.navigation {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  position: relative;

  @include respond(tablet) {
    flex-direction: row;
    align-items: center;
    padding: 25px 30px;
  }

  @include respond(desktop) {
    padding: 56px 110px;
  }

  &__image {
    display: block;

    @include respond(tablet) {
      width: 173px;

      &:active {
        opacity: 0.5;
      }
    }

    @include respond(desktop) {
      width: 202px;
    }
  }

  &__wrapper {
    padding: 0 20px;
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid $grey-color--darker;

    @include respond(tablet) {
      border: 0;
      padding: 0;
    }
  }
}

.navigation__burger {
  width: 25px;
  height: 2px;
  border: 0;
  outline: none;
  position: relative;
  background-color: rgba($black-color, 0);
  margin-left: auto;

  @include respond(tablet) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: $black-color;
    display: block;
    position: absolute;
    left: 0;
  }

  &::before {
    top: -8px;
    transform: translateY(8px) rotate(45deg);
  }

  &::after {
    top: 8px;
    transform: translateY(-8px) rotate(-45deg);
  }


  &--hide {
    background-color: $black-color;

    &::before {
      transform: translateY(0) rotate(0);
    }

    &::after {
      transform: translateY(0) rotate(0);
    }
  }
}
