.navigation {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  @include respond(tablet) {
    flex-direction: row;
    align-items: center;
    padding: 25px 30px;
  }

  @include respond(desktop) {
    padding: 56px 110px;
  }

  &__subject {
    display: flex;
    border-bottom: 1px solid $grey-color--dark;
    align-items: center;

    @include respond(tablet) {
      border: 0;
    }
  }
}

.navigation__burger {
  width: 25px;
  height: 2px;
  transition: 0.6s;
  border: 0;
  outline: none;
  position: relative;
  margin-left: auto;
  background-color: rgba($black-color, 0);

  @include respond(tablet) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: $black-color;
    display: block;
    position: absolute;
    transition: 0.6s;
    left: 0;
  }

  &::before {
    top: -8px;
    transform: translateY(8px) rotate(45deg);
  }

  &::after {
    top: 8px;
    transform: translateY(-8px) rotate(-45deg);
  }


  &--hide {
    background-color: $black-color;

    &::before {
      transform: translateY(0) rotate(0);
    }

    &::after {
      transform: translateY(0) rotate(0);
    }
  }
}
