.owner-information {
  border: 0;
  margin: 0;
  padding: 0 20px;
  padding-top: 4px;

  @include respond(tablet) {
    padding: 0 70px;
    padding-top: 39px;
    padding-bottom: 28px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;

    @include respond(tablet) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 73px;
    }
  }

  &__inform {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__email {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__mobile {
    display: flex;
    align-items: center;
  }

  //label
  &__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 11px;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  //input

  &__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    flex-grow: 1;
    border: 1px solid $black-color--lighter;
    font-family: $primary-font;
    text-transform: uppercase;
    padding: 12px 0;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 30px;

    @include respond(tablet) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
