.products-catalog {
  border-bottom: 1px solid $grey-color--ligther;

  @include content-paddings(15px, 28px);

  @include respond(tablet) {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
    padding-top: 1px;
  }

  @include respond(desktop) {
    margin: 0 auto 21px;
    max-width: 1300px;
  }

  &__title {
    font-size: 36px;
    margin: 0;
    line-height: 60px;
    font-weight: 400;

    @include respond(tablet) {
      font-size: 60px;
    }
  }
}
