.products-list {
  margin-bottom: 22px;

  @include respond(tablet) {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin-bottom: 51px;

    @include content-paddings();
  }

  @include respond(desktop) {
    max-width: 1300px;
    margin: 0 auto 62px;
  }
}
