.products-catalog {
  padding: 15px 20px 28px;
  border-bottom: 1px solid $grey-color--ligther;

  @include respond(tablet) {
    border: 0;
    padding: 55px 30px 28px;
  }

  &__title {
    font-size: 36px;
    margin: 0;
    line-height: 60px;
    font-weight: 400;

    @include respond(tablet) {
      font-size: 60px;
    }
  }
}
