.slider {
  position: relative;
  height: 240px;
  margin-bottom: 32px;
  text-align: center;

  @include respond(tablet) {
    height: 500px;
    width: 680px;
  }

  &__images {
    position: absolute;
    height: 517px;
    top: 0;
    bottom: 0;
    overflow: hidden;

    @include respond(tablet) {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  &--before {
    @include respond(tablet) {
      //display: block;
      left: 0;
    }
  }

  &--after {
    //display: none;

    @include respond(tablet) {
      //display: block;
      align-items: flex-end;
      right: 0;
    }
  }

  &__image {
    @include respond(tablet) {
      width: 680px;
      height: 517px;
      position: absolute;
      left: 0;
    }
  }
}
