.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 21px;

  @include respond(tablet) {
    border: 0;
    width: 45.76%;
    padding-top: 8px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 18px;
    width: 21px;
    display: flex;
    justify-content: center;

    &--justify-fb {
      justify-content: flex-start;
    }

    @include respond(tablet) {
      margin: 0 12px;
      width: 30px;
    }
  }

  &__icon {
    fill: $grey-color-icons;
    display: block;

    &:hover {
      fill: $main-color-theme;
    }

    &:active {
      fill: $main-color-theme;
      opacity: 0.4;
    }

    &--vk {
      // width: 31px;
      // height: 19px;

      @include respond(tablet) {
        width: 30px;
        height: 16px;
      }
    }

    &--inst {
      // width: 31px;
      // height: 19px;

      @include respond(tablet) {
        width: 23px;
        height: 23px;
      }
    }

    &--fb {
      // width: 31px;
      // height: 19px;

      @include respond(tablet) {
        width: 14px;
        height: 28px;
      }
    }
  }
}
