.subject {
  padding: 14px 20px;

  @include respond(tablet) {
    padding: 0;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__image {
    display: block;

    @include respond(tablet) {
      width: 176px;
      margin-top: 20px;
    }
  }

  &__logo {
    @include respond(tablet) {
      height: 85px;
      display: block;
    }
  }
}
