.title {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  min-width: 320px;
  background-size: 100% 61%;
  background-repeat: no-repeat;
  color: $white-color;
  padding: 26px 20px 20px;
  position: relative;
  transition: 0.6s;

  @include respond(tablet) {
    background-image: none;
    color: $black-color;
    text-align: left;
    padding: 0;
    padding-left: 120px;
    padding-top: 55px;
    min-height: 865px;
  }

  &__button {
    margin-top: auto;
    width: 100%;
    background-color: $main-color-theme;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;

    @include respond(tablet) {
      width: 245px;
      margin-top: 0;
      font-size: 20px;
      line-height: 20px;
      padding: 16px 0;
    }
  }

  &__header {
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 28px;

    @include respond(tablet) {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      width: 425px;
      margin-bottom: 45px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;

    @include respond(tablet) {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }

  &__image {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -31%);

    @include respond(tablet) {
      z-index: -1;
      top: 52%;
      width: 93%;
    }
  }
}
