.type {
  text-align: center;
  background-color: $grey-color;
  transition: 0.6s;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  position: relative;

  @include respond(tablet) {
    padding-right: 300px;
    padding-top: 75px;
    padding-left: 52px;
    // padding-bottom: 47px;
    min-height: 370px;
  }

  &:first-child {
    margin-bottom: 20px;

    @include respond(tablet) {
      margin-bottom: 30px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-align: left;
    padding-left: 70px;
    position: relative;

    &::before {
      content: "";
      width: 50px;
      height: 50px;
      background-color: $main-color-theme;
      position: absolute;
      left: 1%;
      border-radius: 50%;
      top: -13%;
    }

    @include respond(tablet) {
      text-align: left;
      font-size: 36px;
      line-height: 37px;
      padding-left: 0;
      margin-bottom: 27px;
      position: static;

      &::before {
        top: 52%;
        left: 77%;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__info {
    margin: 0;
    margin-bottom: 22px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-family: $second-font;
    position: relative;

    @include respond(tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding: 15px 0;
    color: $black-color;
    border-top: 1px solid $grey-color--darker;
    position: relative;

    @include respond(tablet) {
      border: 0;
      font-size: 20px;
      line-height: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-right-arrow-long.svg");
      background-size: 85%;
      width: 30px;
      height: 20px;
      display: block;
      top: 40%;
      left: 40%;
      background-repeat: no-repeat;

      @include respond(tablet) {
        left: 37%;
      }
    }
  }
}
