.type {
  background-color: $grey-color;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  position: relative;

  @include respond(tablet) {
    padding-right: 300px;
    padding-top: 75px;
    padding-left: 52px;
    // padding-bottom: 47px;
    min-height: 370px;
  }

  &:first-child {
    margin-bottom: 20px;

    @include respond(tablet) {
      margin-bottom: 30px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    //padding-left: 70px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2px;

    &::before {
      content: "";
      width: 50px;
      height: 50px;
      background-color: $main-color-theme;
      display: inline-block;
      border-radius: 50%;
      margin-right: 19px;
    }

    @include respond(tablet) {
      text-align: left;
      font-size: 36px;
      line-height: 37px;
      padding-left: 0;
      margin-bottom: 27px;
      position: static;

      &::before {
        top: 52%;
        left: 77%;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__info {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-family: $second-font;
    position: relative;
    border-bottom: 1px solid $grey-color--darker;
    padding-bottom: 22px;

    @include respond(tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  &__link {
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: $black-color;
    //border-top: 1px solid $grey-color--darker;
    margin-right: 10px;
    display: flex;
    align-items: center;

    @include respond(tablet) {
      border: 0;
      font-size: 20px;
      line-height: 20px;
    }

    &::after {
      content: "";
      background-image: url("../img/icon-right-arrow-long.svg");
      background-size: 100%;
      width: 23px;
      height: 11px;
      display: inline-block;
      background-repeat: no-repeat;
      margin-left: 12px;

      @include respond(tablet) {
        left: 37%;
      }
    }
  }
}
