.type {
  text-align: center;
  background-color: $type-color;

  &:first-child {
    margin-bottom: 20px;
  }

  &--padding {
    padding: 40px 20px 0;
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
  }

  &__info {
    margin: 0;
    margin-bottom: 25px;
    text-align: left;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    position: relative;
  }

  &__link {
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0;
    color: #000000;
    border-top: 1px solid $border-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-right-arrow-long.svg");
      width: 30px;
      height: 20px;
      display: block;
      top: 40%;
      left: 40%;
      background-repeat: no-repeat;
    }
  }
}
